In [1]:
import numpy as np
import pandas as pd

In [2]:
netflix = pd.read_csv("kh_phnom_penh_reviews.csv")
netflix.tail()

,StoreId,uuid,createdAt,updatedAt,text,isAnonymous,reviewerId,replies,likeCount,isLiked,overall,restaurant_food,rider
14642,e008,ffd8a71a-4ff3-49b9-896a-84da2a7f8ac6,2023-12-11T05:14:20Z,2023-12-11T05:14:20Z,nice food taste so good,False,kh32v0q3,[],0,False,5,5,5.0
14643,humb,ffda0e86-2f3f-4294-b6ac-710b21572216,2023-07-06T13:38:14Z,2023-07-06T13:38:14Z,Good,False,khysb89w,[],0,False,5,5,5.0
14644,ooc6,ffe667d7-2b7d-4d41-bd69-b7183aa997fa,2023-04-23T06:12:24Z,2023-04-23T06:12:24Z,Very good,False,kh3nvwo2,[],0,False,5,5,5.0
14645,l75q,ffebfe42-76e6-4f27-b00c-18c933c41309,2023-09-11T06:50:05Z,2023-09-11T06:50:05Z,Delicious,False,khfkqxwf,[],1,False,5,5,5.0
14646,gbac,fff187d3-cd38-4864-ba3b-564cb058b21c,2024-02-17T07:24:01Z,2024-02-17T07:24:01Z,I bouht two pieces but they only give 1 bag of...,False,khvoo5hf,[],0,False,3,3,5.0

In [3]:
netflix.shape

(14647, 13)

In [4]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14647 entries, 0 to 14646
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   StoreId          14647 non-null  object
 1   uuid             14647 non-null  object
 2   createdAt        14647 non-null  object
 3   updatedAt        14647 non-null  object
 4   text             14647 non-null  object
 5   isAnonymous      14647 non-null  bool
 6   reviewerId       14647 non-null  object
 7   replies          14647 non-null  object
 8   likeCount        14647 non-null  int64
 9   isLiked          14647 non-null  bool
 10  overall          14647 non-null  int64
 11  restaurant_food  14647 non-null  int64
 12  rider            8495 non-null   float64
dtypes: bool(2), float64(1), int64(3), object(7)
memory usage: 1.3+ MB

In [5]:
netflix.describe()

          likeCount       overall  restaurant_food        rider
count  14647.000000  14647.000000     14647.000000  8495.000000
mean       0.104936      3.136752         3.136752     4.433549
std        0.397805      1.751359         1.751359     1.203668
min        0.000000      1.000000         1.000000     1.000000
25%        0.000000      1.000000         1.000000     5.000000
50%        0.000000      3.000000         3.000000     5.000000
75%        0.000000      5.000000         5.000000     5.000000
max       13.000000      5.000000         5.000000     5.000000

In [6]:
netflix.columns.tolist()

['StoreId',
 'uuid',
 'createdAt',
 'updatedAt',
 'text',
 'isAnonymous',
 'reviewerId',
 'replies',
 'likeCount',
 'isLiked',
 'overall',
 'restaurant_food',
 'rider']